<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--组织架构-->
    <add key="Organization.Domain" value="http://org.api.apitops.com/organization-provider/v3/" />
    <add key="GetProvince" value="dict/province"/>
    <add key="GetCitys" value="dict/city"/>
  </appSettings>
</configuration>