<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--组织架构-->
    <add key="Organization.Domain" value="http://org.api.apitops.com/organization-provider/v3/" />
    <add key="GetProvince" value="dict/province" />
    <add key="GetCitys" value="dict/city" />

    <!--邮件发送-->
    <add key="EmailFromAddress" value="notifier@tops001.com"/>
    <add key="EmailFromPassword" value="Fu4Gnib26whgS1tI"/>
    <add key="SmtpHost" value="smtp.exmail.qq.com"/>
    <add key="EmailRecipients" value="huangdawei1713@tops001.com,602511735@qq.com"/>
  </appSettings>
  <connectionStrings>
    <add name="top_LoanForWrite" connectionString="Data Source=dev.mysql.apitops.com;port=4307;Initial Catalog=loan;User ID=loan_dba;Password=XU3xjavcT6HWVpHQS7hEEWOynRnNwE;characterset=utf8mb4;" providerName="mysql" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>