<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MasterRedis" value="dev.redis.apitops.com:7370,password=663fVzqefn7wn7GSP3995oQCLrcTHb,abortConnect=false,ConnectTimeout=5000,SyncTimeout=5000,defaultDataBase=3" />
    <add key="SlaveRedis" value="dev.redis.apitops.com:7370,password=663fVzqefn7wn7GSP3995oQCLrcTHb,abortConnect=false,ConnectTimeout=5000,SyncTimeout=5000,defaultDataBase=3" />
  </appSettings>
</configuration>