<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire" version="1.6.9" targetFramework="net451" />
  <package id="Hangfire.Core" version="1.6.9" targetFramework="net451" />
  <package id="Hangfire.SqlServer" version="1.6.9" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Top.Data" version="2.6.2.1" targetFramework="net451" />
</packages>